<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <file>src/TestCase.php</file>
      <directory>src/Console</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="FastD">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="App">
      <directory>app/src/Testing/</directory>
    </testsuite>
  </testsuites>
</phpunit>
